
#	Object Files
*.o
*.c.obj
obj/

#	Archive Files
*.a

#	Executable Files
*.exe

#	Log Files
logs/

#	other Projects / Repositorys
#other/
#	OpenGL shouldnt be ignored
#	explicitly ignore all the other stuff
other/Engine
other/FileManager
